body {
    background: linear-gradient(
        to bottom,
        rgb(46, 46, 46),
        rgb(75, 75, 75) 75%,
        gray
    );
    width: 100vh;
    height: 100vh;
    margin: 0;
}

.btn {
  display: inline-block; /* Allows padding and margins to work properly */
  padding: 10px 25px;    /* Internal cushion */
  font-family: sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #2632d4;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}