/*
* {
    outline: 1px dashed gray;
}
*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    background-image: url("./pictures/Sky.jpg");
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
   
}

.header {
    background: linear-gradient(
        to bottom,
        #1F2937 50%,
        #1f2937ee
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10vw;
}

.call-to-action,
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    gap: 12px;
}

a {
    text-decoration: none;
}

.intro {
    background: linear-gradient(
        to bottom,
        #1F2937ee 90%,
        #1f2937b7,
        #1f293767
    );
    display: flex;
    padding: 64px 10vw 80px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6vw;
    align-items: center;
}

.title {
    max-width: 50%;
    min-width: 290px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 80%;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 8px 16px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: transform 0.1s ease-in-out;
    transform: scale(1);
    border: 2px solid transparent;
    transition-property: border-color;
    transition-duration: 0.75s;
    transition-timing-function: ease;
}

.sign-up:hover {
    transition: transform 0.15s ease-in-out;
    transform: scale(1.1);
    background-color: #2472f0;
    border-color: #cccdcf;
    transition-duration: 0.1s;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.intro img {
    background-color: gray;
    flex-shrink: 0;
    max-width: 50%;
    max-height: 322px;
    text-align: center;
    flex: 1 0 200px
}

@media (max-width: 1000px) {
    .intro {
        justify-content: center;
    }
}

.smaller-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #e5e7eb;
    padding: 48px 10vw 40px;
    background: linear-gradient(
        to bottom,
        #1f293767 60%, 
        transparent
    );
}

.info {
    display: flex;
    gap: 5vw;
    padding: 24px 10vw 64px;
    flex-wrap: wrap;
}

.info-packs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    flex: 1 0 250px;
}

.info .subtext {
    text-align: center;
    max-width: 300px;
    font-weight: 700;
}

.info-packs img {
    width: 250px;
    border-radius: 20px;
    transform: 0.1s;
    transition: transform 0.11s ease-in-out;
    transform: scale(1);
}

.info-packs img:hover {
    transition: transform 0.15s ease-in-out;
    transform: scale(1.3);
}

.quote {
    background: linear-gradient(
        to bottom,
        transparent,
        #e5e7eb91 3%,
        #e5e7ebe5 15%,
        #e5e7eb 20%,
        #e5e7eb 80%,
        #e5e7ebe5 85%,
        #e5e7eb91 97%,
        transparent
    );
    padding: 64px 10vw;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.quote-source {
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 64px 10vw;
    background-color: #3882f6;
    margin: 64px 10vw 10px;
    gap: 5vw;
    border-radius: 20px;
}

.footer {
    background: linear-gradient(
        to top,
        #1f2937ee 55%,
        #1f2937a4 70%,
        #1f29374d 80%,
        transparent
    );
    color: white;
    padding: 86px 10vw 32px;
    text-align: center;
}

.links li {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 3px 5px;
  display: inline-block;
  
  transition-property: border-color;
  transition-duration: 0.75s; 
  transition-timing-function: ease; 
}

.links li:hover {
    border-color: #cccdcf;
    transition-duration: 0.1s;
}